/.vscode/*
/output/*
hero_selection.lua
builds/backups/item_build_axe.lua.20250928_002821.backup
builds/backups/item_build_bane.lua.20250928_002744.backup
builds/backups/item_build_bloodseeker.lua.20250928_022128.backup
builds/backups/item_build_bloodseeker.lua.20250928_022135.backup
builds/backups/item_build_centaur.lua.20250928_022056.backup
builds/backups/item_build_elder_titan.lua.20250928_021800.backup
builds/backups/item_build_elder_titan.lua.20250928_022114.backup
builds/backups/item_build_huskar.lua.20250928_022005.backup
builds/backups/item_build_huskar.lua.20250928_022111.backup
builds/backups/item_build_kunkka.lua.20250928_002248.backup
builds/backups/item_build_lina.lua.20250918_022421.backup
builds/backups/item_build_lina.lua.20250918_022444.backup
builds/backups/item_build_lina.lua.20250928_002804.backup
builds/backups/item_build_lina.lua.20250928_002839.backup
builds/backups/item_build_luna.lua.20250928_002625.backup
builds/backups/item_build_luna.lua.20250928_002724.backup
builds/backups/item_build_ogre_magi.lua.20250928_002521.backup
builds/backups/item_build_phantom_assassin.lua.20250918_005728.backup
builds/backups/item_build_phantom_assassin.lua.20250928_021823.backup
builds/backups/item_build_phantom_assassin.lua.20250928_022101.backup
builds/backups/item_build_storm_spirit.lua.20250928_021706.backup
builds/backups/item_build_storm_spirit.lua.20250928_022105.backup
builds/backups/item_build_tiny.lua.20250928_002609.backup
builds/backups/item_build_troll_warlord.lua.20250928_002453.backup
builds/backups/item_build_zuus.lua.20250928_021535.backup
builds/backups/item_build_zuus.lua.20250928_024928.backup
builds/backups/item_build_zuus.lua.20250928_024948.backup
